/* Resetear algunos estilos predeterminados */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Fuente y color de fondo principales */
body {
    font-family: Arial, sans-serif;
    background-color: #e9e9e9;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.logo {
    height: 70px;
}

.logo img {
    height: 100%;
}

.menu {
    list-style: none;
    display: flex;
}

.menu .item {
    margin: 0 16px;
}

.menu .item a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.menu .item a:hover {
    color: #ff9900;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }

    .menu .item {
        display: block;
        padding: 10px 0;
    }
}

/* Estilos del pié de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 25px;
}
