/* Estilos del cuerpo de la página */
body {
    background-image: url("../imagenes/fondo-cabecera.jpg");
    background-size: cover;
}

/* Estilos del formulario de login */
.login {
    background-color: rgba(39, 39, 39, 0.342);
    backdrop-filter: blur(5px);
    height: calc(100vh - 128px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-contenedor {
    background-color: white;
    border-radius: 8px;
    padding: 32px;
    max-width: 400px;
    width: 100%;
}

.login-contenedor .titulo {
    margin-bottom: 24px;
    text-align: center;
}

.formulario-login {
    text-align: center;
}

.campo-formulario {
    margin-bottom: 24px;
    text-align: center;
}

.campo-formulario label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.campo-formulario input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.campo-formulario input:focus {
    border-color: #ff9900;
}

.boton-login {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.boton-login:hover {
    background-color: #ff9900;
}
