/* Estilos del cuerpo de la página */
body {
    background-image: url("../../img/fondo-cabecera.jpg");
    background-size: cover;
}

/* Estilos del contenedor del mensaje de error */
.error {
    background-color: rgba(39, 39, 39, 0.342);
    backdrop-filter: blur(5px);
    height: calc(100vh - 158px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-contenedor {
    background-color: white;
    border-radius: 8px;
    padding: 32px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-contenedor h2 {
    margin-bottom: 24px;
    text-align: center;
}

.regresar {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.regresar:hover {
    background-color: #ff9900;
}

@media screen and (max-width: 768px) {
    .error-contenedor {
        padding: 32px 0;
        max-width: 300px;
    }
}
