/* Estilos del cuerpo de la página */
body {
    background-image: url("../../img/fondo-cabecera.jpg");
    background-size: cover;
}

/* Estilos de la lista */
.lista {
    background-color: rgba(39, 39, 39, 0.562);
    backdrop-filter: blur(5px);
    min-height: calc(100vh - 218px);
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 30px;
}

.lista-contenedor {
    background-color: rgba(105, 105, 105, 0);
    padding: 12px;
    width: 100%;
    color: white;
}

.lista-encabezado {
    display: flex;
    justify-content: space-between;
    padding: 10px 22px;
}

.lista-encabezado h2 {
    font-size: 28px;
}

.lista-opciones {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.lista-opciones a {
    display: inline-block;
    padding: 10px;
    background-color: #ffc400;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.lista-opciones a:hover {
    background-color: #b39800;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.377);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    table-layout: fixed;
}

th, td {
    text-align: center;
    padding: 12px 10px;
    color: white;
}

th {
    background-color: rgba(0, 0, 0, 0.2);
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.registro .opciones {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.registro .opciones a {
    display: inline-block;
    padding: 5px 10px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.registro .opciones a:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.registro .opciones a.ver {
    background-color: #fff7ac;
}

.registro .opciones a.editar {
    background-color: #ffc400;
}

.registro .opciones a.eliminar {
    background-color: #ff5100;
}

.registro .opciones a.ver:hover {
    background-color: #bbb477;
}

.registro .opciones a.editar:hover {
    background-color: #ca9b00;
}

.registro .opciones a.eliminar:hover {
    background-color: #c43e00;
}

.paginacion {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.paginacion .opciones {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.paginacion .opciones a {
    display: inline-block;
    padding: 10px;
    background-color: #ffc400;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.paginacion .opciones a:hover {
    background-color: #b39800;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1520px) {
    .registro .opciones a {
        padding: 10px 10px;
    }
}

@media screen and (max-width: 1270px) {
    .registro .opciones {
        flex-direction: column;
        align-items: center;
    }

    .registro .opciones a {
        padding: 5px 0;
        width: 55px;
        font-size: 10px;
    }
}

@media screen and (max-width: 1150px) {
    .nombre-columna:nth-child(n + 3) {
        display: none;
    }

    .registro .campo:nth-child(n + 3) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .registro .campo {
        text-align: left;
    }

    .registro .opciones {
        align-items: end;
    }
}
